<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error | Comics Universe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
    <nav class="navbar glass" style="height: 70px">
        <span>
            <a href="{{ url_for('index') }}#home" style="display: flex; align-items: center">
                <img class="img2" src="{{ url_for('static', filename='img/mountain.png') }}" width="40" style="margin: -25px -10px -25px -20px" />
                <h1 class="logo"> COMICS</h1>
            </a>
        </span>
        <ul class="nav-links">
            <li><a href="{{ url_for('index') }}#home" class="cir_border">Home</a></li>
            <li><a href="{{ url_for('index') }}#about" class="cir_border">About</a></li>
            <li><a href="{{ url_for('gallery') }}" class="cir_border">Comics</a></li>
        </ul>
    </nav>
    <section class="container">
        <h1 class="dark">Error</h1>
        <div class="line"></div>
        <p style="color: #fff;">{{ message }}</p>
        <a href="{{ url_for('gallery') }}" class="ctn">Back to Gallery</a>
    </section>
    <section class="footer">
        <span>Created By TEAM THREE | © 2025 All rights reserved.</span>
    </section>
</body>
</html>